.btn, button
	position: relative
	z-index: 1
	display: inline-flex
	align-items: center
	height: 62px
	padding: 0 32px
	border-radius: 4px
	border: 0
	background-color: $orange
	color: $white
	font-family: inherit
	font-size: 15px
	font-weight: $w-regular
	line-height: 62px
	text-align: center
	white-space: nowrap
	outline: none!important
	transition: $trs
	&:hover
		color: $white

.btn-primary
	background-color: $orange
	&:hover
		background-color: darken($orange, 5%)
		box-shadow: 0 0 0 5px rgba($orange, 0.2)
	&:active
		box-shadow: 0 0 0 4px rgba($orange, 0.2)
		background-color: lighten($orange, 2%)