.btn
	position: relative
	z-index: 1
	display: inline-flex
	align-items: center
	justify-content: center
	height: 62px
	padding: 0 32px
	border-radius: 4px
	border: 0
	background-color: $orange
	color: $white
	font-family: inherit
	font-size: 15px
	font-weight: $w-regular
	text-align: center
	white-space: nowrap
	outline: none!important
	transition: $trs
	&:hover
		color: $white
	+media-breakpoint-down(sm)
		&:not(.btn-cabinet)
			height: 56px
			padding: 0 24px

.btn-icon
	> .icon ~ span,
	> span ~ .icon
		margin-left: 8px


/* ==========================================================================
	 Button «Primary»
	 ========================================================================== */
.btn-primary
	background-color: $orange
	&:hover
		background-color: darken($orange, 5%)
		box-shadow: 0 0 0 5px rgba($orange, 0.18)
	&:active
		box-shadow: 0 0 0 3px rgba($orange, 0.2)
		background-color: lighten($orange, 2%)


/* ==========================================================================
	 Button «Download»
	 ========================================================================== */
.btn-cabinet
	height: 48px
	padding-left: 20px
	padding-right: 20px
	line-height: 48px


/* ==========================================================================
	 Button «Download»
	 ========================================================================== */
.btn-download
	user-select: none
	display: inline-flex
	border: 0
	background-color: $trsp
	color: $textdark
	font-size: 15px
	&-icon
		flex: 0 0 auto
		display: inline-flex
		align-items: center
		justify-content: center
		width: 60px
		height: 60px
		margin-right: 18px
		border-radius: 50%
		background-color: $green
		color: $white
		font-size: 12px
		transition: $trs
		+media-breakpoint-down(xs)
			width: 50px
			height: 50px
			margin-right: 12px
	&-text
		display: inline-flex
		flex-direction: column
		justify-content: center
		padding-bottom: 4px
		> p
			margin-top: 0
		> span
			margin-top: 5px
			color: $green
			font-weight: $w-medium
			line-height: 1
		+media-breakpoint-down(xs)
			padding-bottom: 0
			font-size: 14px
	&:hover
		color: $textdark
		.btn-download-icon
			box-shadow: 0 0 0 5px rgba($green, 0.18)
			background-color: darken($green, 5%)
			+media-breakpoint-down(xs)
				box-shadow: 0 0 0 4px rgba($green, 0.18)
	&:active
		.btn-download-icon
			box-shadow: 0 0 0 3px rgba($green, 0.2)
			background-color: lighten($green, 2%)


/* ==========================================================================
	 Button «Download» — small
	 ========================================================================== */
.btn-download-small
	user-select: none
	display: inline-flex
	border: 0
	background-color: $trsp
	color: $textdark
	font-size: 15px
	transition: $trs
	&-icon
		flex: 0 0 auto
		display: inline-flex
		align-items: center
		justify-content: center
		width: 30px
		height: 30px
		border-radius: 50%
		background-color: $gray
		color: $white
		font-size: 12px
		transition: background-color .3s ease
	&-text
		display: inline-flex
		flex-direction: column
		justify-content: center
		margin-left: 10px
		color: $textdark
		font-size: 14px
		line-height: 1
		transition: color .3s ease
	&:hover
		.btn-download-small-icon
			background-color: $orange
		.btn-download-small-text
			color: $orange
	&:active
		.btn-download-small-icon
			background-color: darken($orange, 5%)
