@import '../helpers/helpers'

/* ==========================================================================
	 Font Weights
	 ========================================================================== */
.w-regular
	font-weight: 400
.w-medium
	font-weight: 500
.w-bold
	font-weight: 700
.w-black
	font-weight: 800


/* ==========================================================================
	 Font sizes
	 ========================================================================== */
.text-xxl
	font-size: 52px
	+media-breakpoint-down(lg)
		font-size: 46px
	+media-breakpoint-down(md)
		font-size: 40px
	+media-breakpoint-down(sm)
		font-size: 36px
	+media-breakpoint-down(xs)
		font-size: 30px
.text-xl
	font-size: 36px
	+media-breakpoint-down(md)
		font-size: 32px
	+media-breakpoint-down(sm)
		font-size: 28px
	+media-breakpoint-down(xs)
		font-size: 24px
.text-lg
	font-size: 32px
	+media-breakpoint-down(md)
		font-size: 28px
	+media-breakpoint-down(sm)
		font-size: 24px
.text-md
	font-size: 26px
	+media-breakpoint-down(md)
		font-size: 22px
	+media-breakpoint-down(sm)
		font-size: 20px
	+media-breakpoint-down(xs)
		font-size: 18px
.text-sm
	font-size: 17px
	+media-breakpoint-down(sm)
		font-size: 16px
.text-xs
	font-size: 16px
	+media-breakpoint-down(sm)
		font-size: 15px
	+media-breakpoint-down(xs)
		font-size: 14px
.text-xxs
	font-size: 15px
	+media-breakpoint-down(sm)
		font-size: 14px