@import '../helpers/helpers'

/* ==========================================================================
	 Font Weights
	 ========================================================================== */
.w-regular
	font-weight: 400
.w-medium
	font-weight: 500
.w-bold
	font-weight: 700
.w-black
	font-weight: 800


/* ==========================================================================
	 Font sizes
	 ========================================================================== */
.text-xxl
	font-size: 52px
	+media-breakpoint-down(lg)
		font-size: 46px
	+media-breakpoint-down(md)
		font-size: 40px
.text-xl
	font-size: 36px
	+media-breakpoint-down(md)
		font-size: 32px
.text-lg
	font-size: 32px
	+media-breakpoint-down(md)
		font-size: 28px
.text-md
	font-size: 22px
.text-sm
	font-size: 17px
.text-xs
	font-size: 16px
.text-xxs
	font-size: 15px