$orange:      #F2791F
$lightorange: #FFF9F4
$green:       #1EB99B
$darkblue:    #181834
$darkblue-2:  #262640
$lightblue:   #F3F6F9
$gray:        #8F9CA8
$black:       #000
$white:       #fff
$textdark:    #363636
$textlight:   #5E5E5E
$border:      #E8E8E8
$gradient:    linear-gradient(90deg, #FA8E00 0.15%, #FA7800 100%)
$trsp:        transparent
$system:      -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family
$font:        'Cera Pro', sans-serif
$fontsize:    16px
$trs:         .3s ease

// Z-indexes
$z-index-header:      99
$z-index-mobile-menu: 999

// Font weight
$w-regular: 400
$w-medium:  500
$w-bold:    700
$w-black:   800